tml,body {
	margin:0px;
	padding:0px;
	background:#231F1F;
}
div.awrap{
	position:absolute;
	height:400px;
	bottom:15%;
	width:100%;
	margin:-200px 0px 0px;
	text-align:center;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


a {
	display:inline-block;
	width:90%;
	height:400px;
	background:#B5B1B1;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}	
a:active {
	background:#ADAAAA;
	-moz-box-shadow:    inset 0 0 50px #000000;
	-webkit-box-shadow: inset 0 0 50px #000000;
	box-shadow:         inset 0 0 50px #000000;
}